<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #registerForm="ngForm" (submit)="submit(registerForm)">
                  <div class="row">
                    <div class="col-auto"></div>
                    <div class="col">
                      <h3>Forget Password</h3>
                      <p class="text-muted">
                        (Please fill the following information as per University
                        Record)
                      </p>
                    </div>
                  </div>
                  <span class="text-muted"> Enter Registered Mobile No </span>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">+91</span>
                    </div>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Mobile Number"
                      name="mobile"
                      ngModel
                      required
                      [readonly]="otpsent"
                    />
                  </div>
                  <span class="text-muted"> Enter Registered Email </span>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      name="email"
                      ngModel
                      required
                      [readonly]="otpsent"
                    />
                  </div>
                  <button
                    type="button"
                    class="btn btn-success"
                    [disabled]="registerForm.invalid"
                    (click)="sendotp(registerForm)"
                  >
                    Send OTP
                  </button>
                </form>

                <hr />
                <form (ngSubmit)="submit(otpform)" #otpform="ngForm">
                  <p class="text-muted">
                    (Please check your registered email for otp)
                  </p>
                  <span class="text-muted"> Enter OTP </span>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">**</span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter OTP"
                      name="otp"
                      [(ngModel)]="otp"
                      required
                      [readonly]="!otpsent"
                      (keyup)="verifyOtp(otpform)"
                    />
                  </div>
                  <div *ngIf="optVerified; else loading">
                    <span class="text-muted"> New Password</span>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">**</span>
                      </div>
                      <input
                        type="password"
                        class="form-control"
                        name="password"
                        id="password"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{10,}$"
                        ngModel
                        placeholder="Enter Password"
                        [readonly]="!otpsent"
                        required
                      />
                    </div>
                    <span class="text-muted"> Confirm password </span>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">**</span>
                      </div>
                      <input
                        type="password"
                        class="form-control"
                        name="cnf_password"
                        id="cnf_password"
                        ngModel
                        placeholder="Confirm Password"
                        [readonly]="!otpsent"
                        required
                      />
                    </div>
                    <button
                      type="button"
                      class="btn btn-primary"
                      [disabled]="otpform.invalid"
                      (click)="changePassword(otpform)"
                    >
                      Submit
                    </button>
                  </div>
                </form>
              </div>
              <ng-template #loading>
                Please wait 10 Sec for OTP verification after enter
                it</ng-template
              >
              <div class="card-footer p-4">
                <div class="row">
                  <div class="col-12">
                    <p>
                      Click on submit button after filling the correct
                      information.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<!-- <div class="animate__animated animate__heartBeat">
  <div class="card">
    <div class="card-body">
      <h4 class="text-center">
        Under Working
        <h6>try after sometime..</h6>
      </h4>
    </div>
  </div>
</div> -->
