/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.btn i {
  font-size: inherit !important;
}

.form-check .form-check-label input {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  z-index: 1;
  cursor: pointer;
  opacity: 1 !important;
}
.select2-container .select2-selection--single {
  height: 40px !important;
}

.sidebar-folded:not(.open-sidebar-folded)
  .sidebar
  .sidebar-body
  .nav
  .nav-item.nav-category::before {
  visibility: hidden !important;
}
.sidebar {
  -webkit-transition: width 0.5s ease, margin 0.5s ease-out !important;
  transition: width 0.5s ease, margin 0.5s ease-out !important;
}
.main-wrapper .page-wrapper {
  -webkit-transition: margin 0.5s ease, width 0.5s ease !important;
  transition: margin 0.5s ease, width 0.5s ease !important;
}
.sidebar .sidebar-header {
  -webkit-transition: width 0.5s ease !important;
  transition: width 0.5s ease !important;
}
.navbar {
  -webkit-transition: width 0.5s ease, left 0.5s ease;
  transition: width 0.5s ease, left 0.5s ease;
}
.auth-page .auth-left-wrapper {
  /* background-image: url('https://www.rgpv.ac.in/Images/RGPVLOGO.JPG') !important; */
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url('./assets/images/rgpvauth.png') !important; */
}

select.form-control,
select,
.email-compose-fields
  .select2-container--default
  select.select2-selection--multiple,
.select2-container--default select.select2-selection--single,
.select2-container--default
  .select2-selection--single
  select.select2-search__field,
select.typeahead,
select.tt-query,
select.tt-hint {
  color: #333 !important;
}
/* .card {
  overflow: hidden
} */
.sidebar .sidebar-body{
  overflow-x: scroll;
}

.footer{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 240px;
  z-index: 978;
  box-shadow: 3px 0 10px 0 rgb(183 192 206 / 20%);
  width: calc(100% - 240px);
}

  .sidebar-folded .page-wrapper .footer {
    width: calc(100% - 70px);
    left: 70px;
    right: 0;
}
.sidebar-folded:not(.open-sidebar-folded) .sidebar .sidebar-body .nav .nav-item.nav-category {
  visibility: hidden;
  display: none;
}
@media (max-width: 991px)
{
   .footer{
    position: unset;
  
    left: 0;
   
    width: calc(100%);
   }
}
/* Tooltip container */
.c-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.c-tooltip .c-tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width: 200px;
    bottom: 110%;
    left: 50%;
    margin-left: -100px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.c-tooltip:hover .c-tooltiptext {
    visibility: visible;
}

p {
    margin: 0px;
}
.flexible-btn-top { 
    position: absolute;
    top: -5px;
    left: -5px;
    border-radius: 50%;
    padding: 8px 10px;
}
/* .card {
  box-shadow: 2px 2px 5px #3333;
  overflow: visible
} */

.h-100vh {
  min-height: 100%;
}