<div class="animate__animated animate__fadeIn">
  <div class="card">
    <div class="card-header bg-light">
      Help Desk
      <button
        type="button"
        class="btn btn-primary sm-2 float-right"
        (click)="back()"
      >
        Back
      </button>
    </div>
    <div class="card-body">
      <table class="table table-hover table-bordered table-striped">
        <tr>
          <th>
            Video Manual <br />
            <small
              >------------------------ <br />
              (To View detailed video on how to use <br />equations and
              inserting image while setting paper)
            </small>
          </th>
          <td>
            <div class="col-12">
              <a
                href="https://youtu.be/eGKHSohTwPE"
                target="_blank"
                data-toggle="tooltip"
                title="Video Manual!"
                ><i class="fas fa-video" style="color: rgb(228 10 10)"></i
                >&nbsp;&nbsp;Click on following link.</a
              >
            </div>
          </td>
        </tr>
        <tr>
          <th>
            SOP <br />
            <small
              >------------------------ <br />(To Download Standard Operating
              Procedure <br />
              for setting paper please download following PDF).</small
            >
          </th>
          <td>
            <div class="col-12">
              <a
                href="assets/sop/paperSetter_SOP_updated_1.pdf"
                target="_blank"
                ><i class="fas fa-file-pdf" style="color: rgb(228 10 10)"></i>
                Click here for Download</a
              >
            </div>
          </td>
        </tr>
      </table>
      <div class="row">
        <div class="col-12">
          <p>
            <span>
              (Kindly do not share this video with any body else or any other
              faculty member, this video is strictly for you, Those who are
              setting the papers, they have their link, kindly do not share) >
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
