<div class="card p-0">
   <div class="card-header text-light" style="background-image: radial-gradient( circle 763px at 18.3% 24.1%,  rgba(255,249,137,1) 7.4%, rgba(226,183,40,1) 58.3% );">
    <h4 class="text-center">
      Starline History
      <button
         class="badge badge-pill border-0 float-right"
        (click)="back()"
      >
         <i class="lni lni-arrow-left"></i>
      </button>
    </h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="bidDate">Bid Date</label>
          <input
            type="date"
            class="form-control"
            name="bidDate"
            id="bidDate"
            [(ngModel)]="bidDate"
            aria-describedby="bidDatehelpId"
            placeholder="Select Date"
          />
          <small id="helpId" class="form-text text-muted">Select Date</small>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="type">Type</label>
          <select class="form-control" name="type" id="type" [(ngModel)]="type">
            <option value="single-ank">Single Ank</option>
            <option value="single-patti">Single Patti</option>
            <option value="double-patti">Double Patti</option>
            <option value="tripple-patti">Tripple Patti</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="type">Time</label>
          <select class="form-control" name="time" id="time" [(ngModel)]="time">
            <option value="09:15">09:15 AM</option>
            <option value="10:15">10:15 AM</option>
            <option value="11:15">11:15 AM</option>
            <option value="12:15">12:15 PM</option>
            <option value="13:15">01:15 PM</option>
            <option value="14:15">02:15 PM</option>
            <option value="15:15">03:15 PM</option>
            <option value="16:15">04:15 PM</option>
            <option value="17:15">05:15 PM</option>
            <option value="18:15">06:15 PM</option>
            <option value="19:15">07:15 PM</option>
            <option value="20:15">08:15 PM</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-auto">
        <button class="btn btn-primary" (click)="getList()">
          <i class="fas fa-life-ring"></i>
        </button>
      </div>
    </div>
    <div class="card mt-3">
      <div
        class="card-body p-0 table-responsive shadow-none"
        *ngIf="apiService.kalyaBidLists && apiService.kalyaBidLists.length; else Loading"
      >
        <table class="table table-striped table-inverse">
          <thead class="thead-inverse">
            <tr>
              <th>Digits</th>
              <th>Points</th>
              <th>Game Type</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of apiService.kalyaBidLists; let i = index">
              <td>
                <span *ngIf="item.userInput.singleDigit">{{
                  item.userInput.singleDigit ? item.userInput.singleDigit : '-'
                }}</span>

                <span *ngIf="item.userInput.singlePatti">
                  {{
                    item.userInput.singlePatti
                      ? item.userInput.singlePatti
                      : '-'
                  }}</span
                >
                <span *ngIf="item.userInput.doublePatti">
                  {{
                    item.userInput.doublePatti
                      ? item.userInput.doublePatti
                      : '-'
                  }}</span
                >
                <span *ngIf="item.userInput.tripplePatti">
                  {{
                    item.userInput.tripplePatti
                      ? item.userInput.tripplePatti
                      : '-'
                  }}</span
                >
              </td>
              <td>{{ item.bidAmount }}</td>
              <td>{{ item.betType | titlecase }}</td>
              <td>{{ item.biStatus | titlecase }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-template #Loading>
      <div class="card text-center p-0">
        <div class="card-body">
          <i class="fas fa-spinner"></i> NO RECORD FOUND
        </div>
      </div>
    </ng-template>
  </div>
</div>
